<main class="">
  <!-- INTRODUCTION -->
  <div class="bg-yellow-400 pb-12 rounded-b-sm">
    <img
      width="1014"
      height="580"
      class="lg:w-full"
      ngSrc="../assets/images/introduction.png"
      priority
      alt="maneirando introduction"
    />
  </div>

  <!-- ABOUT  -->

  <section class="flex flex-col justify-start gap-1 p-3">
    <div class="text-center">
      <span
        class="text-xl font-black sm:text-2xl lg:text-4xl xl:text-4xl 2xl:text-6xl"
      >
        REFERÊNCIA EM ENTRETENIMENTO
      </span>
    </div>

    <!-- PRESENTATION -->

    <div class="text-center m-3 xl:px-20 2xl:px-64">
      <span
        class="text-base text-justify font-light sm:text-lg lg:text-xl xl:text-2xl"
      >
        O <span class="font-black">Canal Maneirando</span>, apresentado pela
        dupla Neto Lyra e Guilherme Yuri, é um dos maiores canais de
        curtas-metragens e esquetes de comédia em seu segmento no mundo.
      </span>
    </div>

    <!-- CAROUSEL -->
    <div class="carousel mb-5 2xl:px-52">
      <div class="carousel-slider">
        <div class="flex flex-row relative">
          <!-- CONTROLLER LEFT -->

          <!-- LEFT -->
          <img
            class="absolute bottom-0 w-4/6 p-2 opacity-60 sm:w-1/2"
            [src]="slider[sliderCount - 1]"
            alt=""
          />

          <!-- FIRST CASE / CASE SLIDER[0] -->
          <img
            class="absolute bottom-0 w-4/6 p-2 opacity-60 sm:w-1/2"
            *ngIf="0 >= sliderCount"
            [ngSrc]="slider[slider.length - 1]"
            width="456"
            height="380"
            alt=""
          />

          <!-- CENTER -->

          <img
            class="w-72 ml-10 z-10 sm:w-4/6 sm:ml-24 md:ml-32 lg:ml-40 xl:ml-48 2xl:ml-56"
            [ngSrc]="slider[sliderCount]"
            width="456"
            priority
            height="380"
            alt=""
          />

          <!-- RIGHT -->

          <img
            class="absolute bottom-0 right-0 w-4/6 p-2 opacity-60 sm:w-1/2"
            [ngSrc]="slider[sliderCount + 1]"
            width="456"
            height="380"
            alt=""
          />

          <!-- LAST CASE / CASE SLIDER[4] -->
          <img
            class="absolute bottom-0 right-0 w-4/6 p-2 opacity-60 sm:w-1/2"
            *ngIf="sliderCount + 1 === slider.length"
            [src]="slider[0]"
            alt=""
          />
        </div>
        <div class="carousel-controller">
          <div class="flex flex-row justify-evenly">
            <div (click)="previousSlide()" class="">
              <img
                class="w-14 md:w-16 cursor-pointer animate-pulse"
                width="80"
                height="80"
                ngSrc="../assets/icons/leftArrow.svg"
                alt=""
              />
            </div>
            <div (click)="nextSlide()" class="">
              <img
                width="80"
                height="80"
                class="w-14 md:w-16 cursor-pointer animate-pulse"
                ngSrc="../assets/icons/rightArrow.svg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- TEXT 1  -->

    <div class="flex flex-col gap-5 justify-center mx-3 2xl:px-64">
      <span
        class="text-base font-light text-center sm:text-lg lg:text-xl xl:text-2xl"
      >
        Além do canal principal com
        <span class="underline font-bold">7.6 milhões</span> de inscritos, a
        dupla conta hoje com dois canais dedicados exclusivamente a Shorts na
        plataforma, <span class="font-bold">Shorts Maneirando</span> e
        <span class="font-bold">O Netinho</span>, que possuem
        <span class="underline font-bold">1.3 milhões</span> e
        <span class="underline font-bold">3.1 milhões de views</span>,
        respectivamente.
      </span>

      <!-- TEXT 2  -->

      <span
        class="text-base font-light text-center sm:text-lg lg:text-xl xl:text-2xl"
      >
        O recente projeto <span class="font-bold">Maneirando TV</span> conta com
        cerca de <span class="underline">200 mil inscritos</span> e uma média
        mensal de <span class="underline">3 milhões views</span>, além de
        possuir audiência em transmissões em estreias de
        <span class="underline">100 mil espectadores.</span>
      </span>

      <!-- TEXT 3  -->

      <span
        class="text-base font-light text-center sm:text-lg lg:text-xl xl:text-2xl"
      >
        Com mais de
        <span class="font-bold underline"> 700 milhões de visualizações </span>
        em vídeos como Naruto, Homem-Aranha, Chaves e muitos outros, o canal é
        considerado como um dos maiores produtores de esquetes e curta-metragens
        de paródias Geek da internet brasileira
      </span>
    </div>
  </section>

  <!-- CHANNEL NUMBERS -->

  <div class="flex flex-col mt-5 px-3 half-yellow">
    <!-- INTRODUCTION -->

    <div class="lg:flex lg:justify-center">
      <div class="flex flex-col">
        <span
          class="text-2xl font-black uppercase flex justify-center sm:text-2xl lg:text-4xl xl:text-4xl 2xl:text-6xl"
          >maneirando em números
        </span>
      </div>
    </div>

    <!-- IMAGE INTRO -->

    <div
      class="md:flex md:justify-center sm:flex sm:justify-center mt-2 relative"
    >
      <div class="flex flex-row">
        <img
          class="hidden xl:rounded-lg xl:block xl:w-96 xl:absolute xl:bottom-5 xl:shadow-black xl:shadow-lg xl:left-0 2xl:left-52 xl:opacity-80"
          ngSrc="../assets/images/numbers/numbersLeft.jpg"
          width="812"
          height="456"
          alt=""
        />
        <img
          class="rounded-lg z-10 shadow-lg shadow-black"
          ngSrc="../assets/images/numbers/numbersCenter.png"
          width="812"
          height="456"
          alt=""
        />
        <img
          class="hidden xl:rounded-lg xl:block xl:w-96 xl:absolute xl:bottom-5 xl:shadow-black xl:shadow-lg xl:right-0 2xl:right-52 xl:opacity-80"
          ngSrc="../assets/images/numbers/numbersRight.jpg"
          width="812"
          height="456"
          alt=""
        />
      </div>
    </div>

    <!-- CONTENT -->

    <div class="flex flex-col mt-5 gap-5">
      <!-- YOUTUBE -->

      <div class="flex flex-col">
        <div class="flex justify-center">
          <img
            class="w-20 justify-center lg:w-24"
            width="1"
            height="1"
            ngSrc="../assets/icons/youtubeIcon.svg"
            alt=""
          />
        </div>
        <span
          class="flex justify-center font-black text-xl uppercase lg:text-2xl"
          >7.6 milhões</span
        >

        <span class="flex justify-center uppercase lg:text-lg"
          >de inscritos no Youtube</span
        >
      </div>

      <!-- VIEWS -->

      <div class="flex flex-col">
        <div class="flex justify-center">
          <img
            width="1"
            height="1"
            class="w-20 justify-center lg:w-24"
            ngSrc="../assets/icons/views.svg"
            alt=""
          />
        </div>
        <span
          class="flex justify-center font-black text-xl uppercase lg:text2xl"
          >+ de 3 bilhões</span
        >

        <span class="flex justify-center uppercase lg:text-lg"
          >de views em nossas redes</span
        >
      </div>

      <!-- FOLLOWERS -->

      <div class="flex flex-col">
        <div class="flex justify-center">
          <img
            class="w-20 justify-center lg:w-24"
            width="1"
            height="1"
            ngSrc="../assets/icons/follower.svg"
            alt=""
          />
        </div>
        <span
          class="flex justify-center font-black text-xl uppercase lg:text-2xl"
          >+ de 15 milhões</span
        >

        <span class="flex justify-center uppercase lg:text-lg"
          >de seguidores nas redes sociais</span
        >
      </div>

      <!-- BIGGEST -->

      <div class="flex flex-col">
        <div class="flex justify-center">
          <img
            width="1"
            height="1"
            class="w-24 justify-center"
            ngSrc="../assets/icons/trophy.svg"
            alt=""
          />
        </div>
        <span
          class="flex justify-center font-black text-xl uppercase lg:text-2xl"
          >o maior canal</span
        >

        <span class="flex justify-center uppercase lg:text-lg"
          >de comédia besteirol no mundo</span
        >
      </div>

      <!-- SOCIAL MEDIA LINKS -->

      <div
        class="flex flex-row justify-between px-3 mt-10 md:justify-center md:gap-10 xl:gap-20"
      >
        <!-- YOUTUBE -->
        <div class="flex flex-col gap-1">
          <a
            target="_blank"
            *ngFor="let youtube of youtubeLinks"
            [href]="youtube.link"
            class="flex flex-row gap-1 items-center hover:underline"
          >
            <img width="36" height="36" [ngSrc]="youtube.icon" alt="" />
            <span class="text-base xl:text-2xl font-semibold">{{
              youtube.name
            }}</span>
          </a>
        </div>
        <!-- SHORTS -->
        <div class="flex flex-col gap-1">
          <a
            target="_blank"
            *ngFor="let shorts of shortsLinks"
            [href]="shorts.link"
            class="flex flex-row gap-1 items-center hover:underline"
          >
            <img width="36" height="36" [ngSrc]="shorts.icon" alt="" />
            <span class="text-base xl:text-2xl font-semibold">{{
              shorts.name
            }}</span>
          </a>
        </div>
      </div>

      <div
        class="flex flex-row justify-between md:justify-center md:gap-10 xl:gap-20 px-3"
      >
        <!-- instagram -->
        <div class="flex flex-col gap-1">
          <a
            target="_blank"
            *ngFor="let instagram of instagramLinks"
            [href]="instagram.link"
            class="flex flex-row gap-1 items-center hover:underline xl:ml-4"
          >
            <img width="36" height="36" [ngSrc]="instagram.icon" alt="" />
            <span class="text-base xl:text-2xl font-semibold">{{
              instagram.name
            }}</span>
          </a>
        </div>
        <!-- tiktok -->
        <div class="flex flex-col gap-1">
          <a
            target="_blank"
            *ngFor="let tiktok of tiktokLinks"
            [href]="tiktok.link"
            class="flex flex-row gap-1 mr-8 xl:mr-16 items-center hover:underline"
          >
            <img width="36" height="36" [ngSrc]="tiktok.icon" alt="" />
            <span class="text-base xl:text-2xl font-semibold">{{
              tiktok.name
            }}</span>
          </a>
        </div>
      </div>

      <!-- others -->
      <div
        class="flex flex-row justify-around md:justify-center md:gap-10 xl:gap-20 px-3"
      >
        <a
          target="_blank"
          *ngFor="let media of mediaLinks"
          [href]="media.link"
          class="flex flex-row gap-1 items-center hover:underline"
        >
          <img
            [ngSrc]="media.icon"
            width="36"
            height="36"
            [alt]="[media.name]"
          />
          <span class="text-base xl:text-2xl font-semibold">{{
            media.name
          }}</span>
        </a>
      </div>
    </div>
  </div>

  <!-- WAVE -->

  <img
    width="300"
    height="67"
    class="w-full"
    ngSrc="../assets/waves/wave.svg"
    alt=""
  />

  <!-- YOUTUBE CAROUSEL -->
  <div class="youtube-carousel flex justify-center md:px-16 lg:px-32">
    <img ngSrc="../assets/images/frame1.png" width="800" height="400" alt="" />
  </div>

  <!-- WAVE 2 -->

  <img
    width="300"
    height="67"
    class="w-full"
    ngSrc="../assets/waves/wave2.svg"
    alt=""
  />

  <!-- PUBLIC RELEVANCE -->

  <div class="bg-yellow-400 px-3">
    <!-- SCHOOLS -->
    <div class="school-slider relative 2xl:px-64">
      <span
        class="text-2xl lg:text-4xl 2xl:text-6xl font-black uppercase flex justify-center"
      >
        conectado com o público
      </span>
      <div class="flex flex-row justify-around mt-2">
        <!-- CONTROLLER -->
        <img
          (click)="previousSchoolSlide()"
          class="mx-1 animate-pulse sm:w-14 cursor-pointer"
          ngSrc="../assets/icons/leftArrow.svg"
          width="36"
          height="36"
          alt="previous slide"
        />

        <div
          class="custom-slider flex flex-row justify-between lg:justify-center"
        >
          <!-- FIRST CASE -->
          <img
            class="w-1/6 object-scale-down opacity-50"
            *ngIf="0 >= schoolCount"
            [ngSrc]="schoolSlider[schoolSlider.length - 1]"
            width="560"
            height="1040"
            alt=""
          />

          <img
            class="w-1/6 object-scale-down opacity-50"
            *ngIf="schoolCount > 0"
            [ngSrc]="schoolSlider[schoolCount - 1]"
            width="560"
            height="1040"
            alt=""
          />

          <!-- CENTER -->
          <img
            class="w-3/5 object-scale-down lg:w-5/12"
            [ngSrc]="schoolSlider[schoolCount]"
            priority=""
            width="560"
            height="1040"
            alt=""
          />

          <img
            class="w-1/6 object-scale-down opacity-50"
            [ngSrc]="schoolSlider[schoolCount + 1]"
            *ngIf="schoolSlider.length - 1 > schoolCount"
            width="560"
            height="1040"
            alt=""
          />

          <!-- LAST CASE -->
          <img
            class="w-1/6 object-scale-down opacity-50"
            *ngIf="schoolCount >= schoolSlider.length - 1"
            [ngSrc]="schoolSlider[0]"
            width="560"
            height="1040"
            alt=""
          />
        </div>
        <!-- CONTROLLER -->
        <img
          (click)="nextSchoolSlide()"
          class="mx-1 animate-pulse sm:w-14 cursor-pointer"
          ngSrc="../assets/icons/rightArrow.svg"
          width="36"
          height="36"
          alt="next slide"
        />
      </div>
    </div>

    <!-- INTERVIEWS -->

    <div class="interview-slider bg-opacity-40 mt-10 2xl:px-64">
      <span
        class="text-lg sm:text-2xl lg:text-4xl 2xl:text-6xl font-black uppercase flex justify-center"
      >
        relevância dentro e fora da internet
      </span>
      <div class="flex flex-col lg:px-10 mt-2">
        <div class="flex flex-row justify-evenly gap-1 mt-2">
          <div class="w-1/3" *ngFor="let interview of interviews" class="">
            <img
              class="border-2 border-black rounded-md opacity-80 cursor-pointer"
              [ngSrc]="interview.image"
              *ngIf="interview.id !== activeInterview"
              width="1920"
              height="1080"
              (click)="activeSlide(interview.id)"
              alt=""
            />
          </div>
        </div>
        <!-- ACTIVE -->
        <img
          class="mt-2 rounded-md shadow-lg"
          [ngSrc]="interviews[activeInterview].image"
          width="1920"
          height="1080"
          alt=""
        />
      </div>
    </div>

    <!-- INFLUENCERS -->

    <div class="influencer-slider mt-10 2xl:px-64">
      <span
        class="text-2xl lg:text-4xl 2xl:text-6xl font-black uppercase flex justify-center"
      >
        influência no cenário
      </span>
      <div class="flex flex-row">
        <img
          (click)="previousInfluencerSlide()"
          class="mx-1 animate-pulse sm:w-14 cursor-pointer"
          ngSrc="../assets/icons/leftArrow.svg"
          width="36"
          height="36"
          alt="previous slide"
        />
        <div class="flex flex-col justify-center mt-5">
          <div class="flex flex-row justify-center gap-1">
            <!-- INFLUENCER 1 -->
            <img
              class="animate-pulse"
              ngSrc="../assets/icons/info.svg"
              width="16"
              height="16"
              alt=""
            />
            <a
              target="_blank"
              [href]="influencers[influencerCount].link[0]"
              class="flex flex-row gap-2 hover:underline"
            >
              <span
                class="text-xs sm:text-sm lg:text-base xl:text-lg font-bold uppercase"
                >{{ influencers[influencerCount].name[0] }}
              </span>
            </a>

            <!-- IF INFLUENCER 2 -->
            <span
              class="text-xs sm:text-sm lg:text-base xl:text-lg font-bold uppercase"
              *ngIf="influencers[influencerCount].name[1]"
              >E</span
            >
            <a
              *ngIf="influencers[influencerCount].name[1]"
              target="_blank"
              [href]="influencers[influencerCount].link[1]"
              class="flex flex-row gap-2 hover:underline"
            >
              <span
                class="text-xs sm:text-sm lg:text-base xl:text-lg font-bold uppercase"
                >{{ influencers[influencerCount].name[1] }}</span
              >
            </a>
          </div>

          <img
            class="lg:px-10 xl:px-28"
            [ngSrc]="influencers[influencerCount].image"
            width="1400"
            priority
            height="800"
            alt=""
          />
        </div>
        <img
          (click)="nextInfluencerSlide()"
          class="mx-1 animate-pulse sm:w-14 cursor-pointer"
          ngSrc="../assets/icons/rightArrow.svg"
          width="36"
          height="36"
          alt="next slide"
        />
      </div>
    </div>
  </div>

  <!-- WAVE -->
  <img src="../assets/waves/wave.svg" alt="" />

  <!-- AUDIENCE  -->

  <div class="px-3 lg:px-8">
    <div class="lg:text-center">
      <span
        class="text-4xl xl:text-6xl font-black uppercase flex justify-center"
      >
        AUDIÊNCIA</span
      >
    </div>

    <!-- GENDER -->
    <div class="flex flex-col mt-5">
      <div class="text-center">
        <span class="uppercase text-2xl xl:text-4xl font-bold">sexo</span>
      </div>
      <div class="flex mt-5 flex-row sm:justify-evenly justify-between p-3">
        <div class="flex flex-col">
          <span
            class="uppercase flex justify-center text-base font-bold xl:text-2xl"
            >masculino</span
          >
          <div class="flex justify-center">
            <img
              class="w-32 lg:w-56"
              width="1"
              height="1"
              ngSrc="../assets/icons/male.svg"
              alt="male gender"
            />
          </div>
          <span class="flex justify-center text-lg font-black xl:text-2xl"
            >54.7%</span
          >
        </div>
        <div class="flex flex-col">
          <span
            class="uppercase flex justify-center text-base font-bold xl:text-2xl"
            >feminino</span
          >
          <div class="flex justify-center">
            <img
              class="w-32 lg:w-56"
              width="1"
              height="1"
              ngSrc="../assets/icons/female.svg"
              alt="male gender"
            />
          </div>
          <span class="flex justify-center text-lg font-black xl:text-2xl"
            >45.1%</span
          >
        </div>
      </div>
    </div>

    <!-- AGE RANGE -->

    <div class="text-center mt-10">
      <span class="uppercase text-4xl xl:text-6xl font-black"
        >FAIXA ETÁRIA</span
      >
    </div>
    <div class="flex flex-row mt-5 justify-evenly items-center">
      <img
        class="w-52 lg:w-80"
        ngSrc="../assets/chart/chart.png"
        width="1"
        height="1"
        alt="age range chart"
      />
      <div class="flex flex-col gap-2">
        <div class="flex flex-row items-center gap-2">
          <img
            class="w-10 lg:w-20"
            ngSrc="../assets/chart/GREEN.png"
            width="101"
            height="85"
            alt="08-12"
          />
          <span class="text-lg font-bold">08-12</span>
        </div>
        <div class="flex flex-row items-center gap-2">
          <img
            class="w-10 lg:w-20"
            ngSrc="../assets/chart/PINK.png"
            width="101"
            height="85"
            alt="13-17"
          />
          <span class="text-lg font-bold">13-17</span>
        </div>
        <div class="flex flex-row items-center gap-2">
          <img
            class="w-10 lg:w-20"
            width="101"
            height="85"
            ngSrc="../assets/chart/BLUE.png"
            alt="18+"
          />
          <span class="text-lg font-bold">18+</span>
        </div>
      </div>
    </div>
  </div>

  <!-- MEDIA SOLUTION -->

  <div class="p-3 lg:p-8 text-center mt-5 relative 2xl:px-64">
    <span class="text-4xl xl:text-6xl font-black uppercase"
      >casos de sucesso</span
    >
  </div>

  <img class="-mb-4 w-full" src="../assets/images/partners.png" alt="" />

  <div class="px-3 bg-yellow-400 lg:px-8 pt-10 text-center 2xl:px-64">
    <div class="flex flex-col">
      <span class="text-4xl xl:text-6xl font-black uppercase"
        >entre em contato</span
      >
      <div class="flex justify-center">
        <span
          class="text-base sm:text-lg lg:text-xl xl:text-2xl text-center font-light mt-5"
        >
          O <span class="font-bold">Canal Maneirando</span> possui grande
          variedade de clientes ao longo dos anos, assim possui um time
          especializado em entregar as melhores estratégias para os anunciantes
          nas diversas plataformas e formatos.
        </span>
      </div>
    </div>
  </div>

  <!-- CONTACT -->
  <div class="p-3 bg-yellow-400 lg:p-8 text-center 2xl:px-64">
    <div class="flex justify-center">
      <img
        class="w-80 lg:w-96"
        width="1502"
        height="1714"
        ngSrc="../assets/images/frame2.png"
        alt=""
      />
    </div>
    <div class="flex flex-col gap-5 mt-5 lg:flex-row lg:justify-around">
      <div class="flex flex-col items-center">
        <img class="w-14 lg:w-20" src="../assets/icons/email.svg" alt="" />
        <a
          class="text-base font-bold lg:text-lg"
          target="_blank"
          href="mailto:contato@maneirando.com.br"
          >contato&#64;maneirando.com.br</a
        >
      </div>
      <div class="flex flex-col items-center">
        <img class="w-14 lg:w-20" src="../assets/icons/web.svg" alt="" />
        <a
          class="text-base font-bold lg:text-lg"
          target="_blank"
          href="http://www.maneirando.com.br"
          >maneirando.com.br</a
        >
      </div>
    </div>

    <div class="flex flex-col mt-10">
      <span class="font-black italic text-2xl">Maneirando</span>
      <span class="text-sm font-semibold"
        ><span class="font-black">&copy;</span> Copyright 2020-2023</span
      >
    </div>

    <div class="flex flex-col mt-5">
      <span class="text-sm font-semibold">Design:</span>
      <span class="text-lg font-black">Luiza Faria</span>
    </div>

    <div class="flex flex-col mt-2">
      <span class="text-sm font-semibold">Desenvolvimento:</span>
      <span class="text-lg font-black">Ruann Fagundes</span>
    </div>
  </div>
</main>
